body {
  font-family: sans-serif;
  background-color: #f0eeee;
}

.message {
  color: rgb(255, 85, 0);
  font-weight: bold;
  font-size: 25px;
  padding: 1rem 1rem 1rem 0rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 500px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.item_div p {
  font-weight: 600;
}
.loadmoreBTn {
  width: 150px;
  background-color: rgb(255, 85, 0);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
